.background-color {
    background-color: #e3e2e2;
    padding-top: 30px;
    height: 622px;

}


.cards {
    box-shadow: 0px 0px 5px 0px grey;
    background-color: white;
    width: 95%;
    margin-left: 35px;
    padding-top: 20px;
}

.cards-profile {
    width: 114%;
}

.card-group {
    width: 27%;
}

.cards-btn {
    width: 94%;
    padding-left: 100px;
}

.cards-text {
    padding-left: 127px;
}

.card {
    /* box-shadow: 0px 0px 1px 0px grey; */
    margin-left: 28px;
}

.card:hover {
    margin-left: 28px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: black;
    background-size: 100% 100%;
}

.text-link {
    padding-left: 500px;
}

.text-link:hover {
    padding-left: 500px;
    text-decoration: underline;
}

.text-btn {
    width: 100%;
    color: white;
}