p{
    margin-bottom: 0rem;
    font-size: 15px;
    color: gray;
}
hr{
    margin: 10px 0;
}
a{
    text-decoration: none;
    text-align: end;
}
.profile-background-color {
    background-color: #e5e5e5;
    height: 100vh;
    border-radius: 5px;
}
.text-card{
    flex: 0 0 auto;
    width: 52%;
    margin-left: 50px;
}
.profile-card{
    cursor: pointer;
    width: 65%;
    background-color: white;
    /* card center */
    justify-content: center;
    margin: 0 auto;
    display: flex;
    margin-left: 199px;
    height: 259px;
    border-radius: 3px;
    box-shadow: 0px 3px 5px 0px grey;
}
.profile-card:hover {
    cursor: pointer;
    width: 65%;
    background-color: white;
    /* card center */
    justify-content: center;
    margin: 0 auto;
    display: flex;
    margin-left: 199px;
    height: 259px;
    border-radius: 3px;
    box-shadow: 0px 11px 22px 0px grey;
}
.profile-text-btn{
    color: #13f1c5;
     width: 50%;
}
.profile{
    font-size: 13px;
}
.profile-like{
    color: #13f1c5;
     height: 50px;
}
.profile-color{
    font-weight:bold;
}
.profile-color:hover{
    color: rgb(79 165 165);
    font-weight:bold;
}
.profile-text{
    font-size: 12px;
}