.near-me-component {
    background-color: #e3e2e2;
    height: 300vh;
    padding-top: 30px;
}

.match-card {
    width: calc(100% - 250px);
    display: grid;
    height: 1690px;
}

.text {
    font-size: 17px;
    margin-top: 23px;
    padding-left: 9px;

}

.color-text {
    color: gray;
}

.filter {
    width: 250px;
    padding-left: 0px;
}