.background-color {
    background-color: #e3e2e2;
    padding-top: 30px;
    height: 100vh;
    padding-left: 255px;
}

.profile-details-background {
    background-color: white;
    width: 76%;
    padding: 8px;
}